
    
      <div class="left-container">
        <ul id="user-category">
          <li *ngFor="let categories of category"   (click)="onClick(categories.title)">           
            <i class={{categories.symbol}} ></i>
            <span> {{categories.title}}  </span>
          </li>
        </ul>    
      
      <div class="new">
        <i class="fas fa-plus"></i>
        <input   (keyup)="onSubmit($event)" 
        [(ngModel)]="inputValue" type="text" 
        id="searchKey" class="form-control" placeholder="New list">
      </div>
    </div>
  
