
 <div class="corner-container" id="corner-container">
    <div class="top-div-In-corner" id="top-div-In-corner">
      <li *ngFor="let tasks of task"> 
      <div class =  "task-title-In-step" id="task-title-In-step" *ngIf="tasks.id == dataModel.flag">       
        <input type="radio" *ngIf="tasks.isCompleted == true" checked  (click)="clickRadioButton(tasks.title)">
            <input type="radio" *ngIf="tasks.isCompleted != true"  (click)="clickRadioButton(tasks.title)">  
            <span [ngClass]="{
              'taskComplete':tasks.isCompleted == true,
              'taskIncomplete':tasks.isCompleted == false
            }"
          (click)="clickTaskName(tasks.title)"> {{dataModel.step}}  </span>
          <i class="fa fa-star icon" *ngIf="tasks.isImportant == true" (click)="clickStarIcon(tasks.title)"></i> 
          <i class="far fa-star icon" *ngIf="tasks.isImportant == false" (click)="clickStarIcon(tasks.title)"></i> 
        </div>
        </li>     

      
      <ul class = "user-step" id="user-step" *ngFor="let steps of step">
        <li  *ngIf="dataModel.step == steps.stepName">   
            <div>   
              
                <input type="radio" *ngIf="steps.isCompleted == true" checked  (click)="clickRadioButton(steps.title)">
                <input type="radio" *ngIf="steps.isCompleted != true"  (click)="clickRadioButton(steps.title)">
                <span [ngClass]="{
                    'taskComplete':steps.isCompleted == true,
                    'taskIncomplete':steps.isCompleted == false
                  }"
                (click)="clickTaskName(steps.title)"> {{steps.title}}  </span>
                <i class="fa fa-star icon" *ngIf="steps.isImportant == true" (click)="clickStarIcon(steps.title)"></i> 
                <i class="far fa-star icon" *ngIf="steps.isImportant == false" (click)="clickStarIcon(steps.title)"></i> 
                </div>     
        </li>  
      </ul>     

      
      <div class="new-step">
        <i class="fa fa-plus icon" ></i>
        <input class="input-field" (keyup)="onSubmit($event)" 
        [(ngModel)]="stepname" type="text" 
        id="searchKey" class="form-control" placeholder="Add task">              
      </div> 
      
    </div>    
    <div id="user-options"></div>
    <div class="my-day-static">
      <i class="fa fa-sun"></i>
      <span>Add to My day</span>
    </div>
    <div class="static-options">
      <div>
        <i class="fa fa-bell"></i>
        <span>Remind  Me</span><br>
    </div>
    <div >
      <i class="far fa-calendar-alt" ></i>
      <span>Add due date</span><br>
    </div>
    <div>
      <i class="fas fa-redo-alt" style="padding-top: 30px;"></i>
      <span style="border-bottom-style:none;">Repeat</span>
    </div>
  </div>
    <div class="my-day-static">
      <i class="fas fa-tag"></i>
      <span>Pick a category</span>
    </div>
    <div class="my-day-static">
      <i class="fas fa-paperclip"></i>
      <span>Add file</span>
    </div>
    <div class="empty-file">
    </div>