.fixed-top {
    background-color: lightblue;
    vertical-align: top;
    white-space: normal;
    display: inline-block;
    width: 80%;
    margin-left: 20%;
    margin-top: 50px;
    height: 92vh;
}